@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure App Service - Deployment via GitHub Actions</h1>
    <p>APS.NET Core 6 WebApp(Razor Pages) Sample app to practice deployment to Azure App Service</p>
</div>
s